@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 90vw;
    margin: 10% auto;
}
main > h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #747474;
    font-size: 12.8px;
}
main > p {
    font-style: italic;
    color: #606060;
    margin: 1%;
}
@media only screen and (min-width:600px) {
    main {width: 50vw;}
}
/******the gray input area******/
#tagsBag {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background-color: #F5F5F5;
    min-height: 20vh;
    border-radius: 2px;
    padding: 2% 1%;
    box-shadow: inset 2px 0x 0px #33A4FF;
    transition: box-shadow 0.3s;
}
#tagsBag:hover {background-color: #EBEBEB;}
#tagsBag:focus-within {
    background-color: #EBEBEB;
    box-shadow: inset 0px -2px 0px #33A4FF;
}
#tagsBag:not(:focus-within) .tag {
    background-color: #EBF6FF;
}

#tagsBag > .tag {
    display: flex;
    align-items: center;
    margin: 0.5% 1%;
    padding: 2%;
    background: #FFFFFF;
    border-radius: 2px;
}
.tag > * {margin: 0 8px}
.tag > .del {
    float: right;
    height: 10px;
    cursor: pointer;
}

#tagsBag > input {
    background-color: inherit;
    width: 60%;
    border: none;
    outline: none;
    padding: 2%;
    margin: 0 1%;
}
/**************************/
#suggestions {
    width: 100%;
    background-color: inherit;
    border: none;
    border: 1px solid #EBEBEB;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
.suggestion {padding: 2% 3%;}
.suggestion:hover, .suggestion:focus {
    cursor: pointer;
    background-color: #EBF6FF;
}
.add {
    cursor: pointer;
    background-color: transparent;
    color: #33A4FF;
    border: 1px solid #33A4FF;
    padding: 1% 3%;
    font-size: 20px;
    font-weight: bold;
}